<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="repositoryPath" value="D:\Users\mgr\.nuget\packages" />
    </config>
  <packageSources>
    <clear />
    <add key="SponsorConnect" value="https://sponsorconnect.dev/v3/index.json" />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <SponsorConnect>
      <add key="Username" value="budul100" />
      <add key="ClearTextPassword" value="fc932a2eae67476ebd7391a59186fa52" />
    </SponsorConnect>
  </packageSourceCredentials>
</configuration>